.d-flex{display: flex;}
.justify-content-start{justify-content: start;}
.justify-content-end{justify-content: end;}
.justify-content-center{justify-content: center;}
.justify-content-between{justify-content: space-between;}
.flex-wrap{flex-wrap: wrap;}
.flex-wrap-reverse{flex-wrap: wrap-reverse;}
.align-items-start{align-items: start;}
.align-items-end{align-items: end;}
.align-items-center{align-items: center;}
.f-14{font-size: $f14;}
.f-16{font-size: $f16;}
.f-18{font-size: $f18;}
.f-20{font-size: $f20;}
.f-24{font-size: $f24;}
.f-36{font-size: $f36;}
.f-48{font-size: $f48;}
.f-64{font-size: $f64;}
.bg-black{background: $secondary;}
.bg-success{background: $success;}

