<footer class="bg-success">
    <div class="container footer">
        <div class="foot-top d-flex justify-content-between justify-content-start">
            <div class="section-left d-flex">
                <ul class="d-flex f-16">
                    <li><a href="index.html">首頁</a></li>
                    <li><a href="prod.html">系列鏡框</a></li>
                    <li><a href="sotre.html">門市據點</a></li>
                    <li><a href="blog.html">部落格</a></li>
                    <li><a href="qa.html">常見問題</a></li>
                </ul>
                <div class="foot-middle f-36">
                    <div>
                        <span class="material-symbols-outlined">
                            call
                        </span>
                        0800-000-000
                    </div>
                    <div>
                        <span class="material-symbols-outlined">
                            mail
                        </span>
                        glasses@business.co
                    </div>
                </div>
            </div>
            
            <div class="section-right ">
                <ul class="d-flex">
                    <li><a href="index.html"><img src="../assets/images/ic-social-fb.png" alt="fb"></a></li>
                    <li><a href="index.html"><img src="../assets/images/ic_social_ig.png" alt="ig"></a></li>
                    <li><a href="index.html"><img src="../assets/images/ic_social_line.png" alt="line"></a></li>
                </ul>
            </div>
        </div>
    
        <hr>
        <div class="foot-bottom f-16 d-flex justify-content-between">
            <div class="bleft">Copyright © 2020 Glasses.All rights reserved.</div>
            <div class="beight d-flex f-14">
                <p>隱私權政策</p>
                <p>服務條款</p>
            </div>
        </div>
    </div>
</footer>