$primary:#FBF2F2;
$secondary:#000000;
$success:#AA0601;

$text-white:#fff;
$text-black:$secondary;

$f16:16px;
$f14:$f16 * 0.875 ; //14px
$f18:$f16 * 1.125;  //18px
$f20:$f16 * 1.25;   //20px
$f24:$f16 * 1.5;    //24px;
$f36:$f16 * 2.25;   //36px;
$f48:$f16 * 3;      //48px;
$f64:$f16 * 4;      //64px;
