.qa{
    margin-top: 96px;
    margin-bottom: 80px;
    max-width: 856px;
    
    h1{
        border-left: 8px solid $success;
        padding-left: 16px;
        margin-bottom: 32px;
        font-weight: bold;
    }
    h2{
        font-size: $f24;    
        margin-bottom: 24px;
        font-weight: bold;
    }
    h3{
        font-size: $f20;
        margin-bottom: 8px;
        font-weight: bold;
    }
    p{
        font-size: $f16;
        margin-bottom: 32px;
    }
    @include pad {
        max-width: 690px;
    }
    @include mobile {
        margin-top: 40px;
        margin-bottom: 64px;        
    }
}

